<a href="https://colab.research.google.com/github/tusharastirmind-commits/in_class_exercises_2-3/blob/main/In_Class_Exercise_3_%26_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#In Class Exercise 3: Dynamic Web Scraping (API-Based) (10 points)

## Scenario
**You are a data analyst. Your company wants a quick snapshot of the remote job market.**

## Target
- Website: https://remoteok.com  
- API endpoint (data source): https://remoteok.com/api


## Your Task (write code + write your answers)

Using Python, collect job data from the API and answer the following. *(Note: results may vary over time; grading is based on correct logic.)*

**Q1)** How many job postings are currently available? **(2 points)**

**Q2)** What are the top 3 most frequent companies? **(2 points)**

**Q3)** How many job titles contain the word **"Data"** (case-insensitive)? **(2 points)**

**Q4)** Create a pandas DataFrame using the **first 10** job postings (**exactly 10 rows**) with these columns: **(4 points)**


* `title`
* `company`
* `location` (if missing → `"Unknown"`)
* `salary` (if missing → `None`)
* `tags` (store as a comma-separated string)

## Requirements

* You may use ChatGPT.
* Do NOT use Selenium.
* Print your results clearly: `df.head(10)` + answers to Q1–Q3.

In [ ]:
# Starter cell (optional)
import requests
import pandas as pd

API_URL = "https://remoteok.com/api"

In [1]:
# Write your solution below.
# Tip: the API response includes a metadata object plus job objects.
# Make sure you keep only real job postings.
import requests
import pandas as pd

API_URL = "https://remoteok.com/api"

# Fetch API data
response = requests.get(API_URL, headers={"User-Agent": "Mozilla/5.0"})
data = response.json()

# Remove metadata (first object usually metadata)
jobs = [job for job in data if isinstance(job, dict) and "company" in job]

# ---------------------------
# Q1: Total job postings
# ---------------------------
total_jobs = len(jobs)
print("Q1 Total Job Postings:", total_jobs)

# ---------------------------
# Q2: Top 3 most frequent companies
# ---------------------------
company_series = pd.Series([job.get("company") for job in jobs])
top_companies = company_series.value_counts().head(3)
print("\nQ2 Top 3 Companies:")
print(top_companies)

# ---------------------------
# Q3: Job titles containing "Data" (case insensitive)
# ---------------------------
data_jobs = [job for job in jobs if "data" in job.get("position", "").lower()]
print("\nQ3 Jobs with 'Data' in title:", len(data_jobs))

# ---------------------------
# Q4: DataFrame of first 10 jobs
# ---------------------------
first_10 = jobs[:10]

rows = []
for job in first_10:
    rows.append({
        "title": job.get("position"),
        "company": job.get("company"),
        "location": job.get("location", "Unknown") if job.get("location") else "Unknown",
        "salary": job.get("salary", None),
        "tags": ", ".join(job.get("tags", []))
    })

df = pd.DataFrame(rows)
print("\nQ4 DataFrame (First 10 Jobs):")
print(df)

Q1 Total Job Postings: 95

Q2 Top 3 Companies:
Ubiminds              3
Versaterm             3
Anduril Industries    3
Name: count, dtype: int64

Q3 Jobs with 'Data' in title: 3

Q4 DataFrame (First 10 Jobs):
                                             title               company  \
0  Senior Technical Program Manager Infrastructure                Planet
1                              Web Program Manager              Huntress
2        Senior Program Manager Workforce Planning                Fluxon
3        Senior Principal SEO GEO & Search Systems              Workwize
4       Senior Full Stack Software Engineer Growth             Circle.so
5                 Enterprise Account Executive KSA               Dataiku
6                    Strategic Partner Manager GSI        Armis Security
7                           React Native Developer  Bluelight Consulting
8                  Customer Service Representative        Wing Assistant
9            Staff Software Engineer Platform Team               Wellhub

                   location salary  \
0             United States   None
1  United States of America   None
2             United States   None
3                 Amsterdam   None
4                    Remote   None
5              Saudi Arabia   None
6                    London   None
7       Panama City, Panama   None
8       Manila, Philippines   None
9                   Unknown   None

                                                tags
0               manager, technical, software, senior
1  web, manager, saas, security, game, senior, op...
2  manager, management, senior, operational, engi...
3                                  saas, seo, senior
4  software, growth, full-stack, senior, analytic...
5  software, management, analytics, sales, executive
6  infosec, manager, security, growth, management...
7  react, consulting, developer, ios, consultant,...
8  virtual assistant, security, support, software...
9                                 software, engineer

# In-Class Exercise 2 (10 points)

**In-Class Assignment — Week 3 (Lesson 3)**

Time: 20–30 minutes
Points: 10

**Instructions**

This is an individual in-class assignment.

Complete it during class time.

You may use Week 3 lecture notes / demo notebooks.

Write your code under each question and print the output.

Submit the GitHub link.

Q1 ( 4 points)
Write a Python program that prompts the user to enter two numbers and perform a division operation. Handle exceptions for both zero division and invalid input (non-numeric input). Display appropriate error messages for each type of exception and ensure the program does not crash due to these errors.

In [2]:
# write your answer here
try:
    num1 = float(input("Enter first number: "))
    num2 = float(input("Enter second number: "))

    result = num1 / num2
    print("Result:", result)

except ZeroDivisionError:
    print("Error: Cannot divide by zero.")

except ValueError:
    print("Error: Invalid input. Please enter numeric values.")

Enter first number: 12
Enter second number: 0
Error: Cannot divide by zero.

 Q2( 4 points)
Define a base class called 'Vehicle' with attributes make and model. Create a derived class Car that inherits from Vehicle and has an additional attribute 'num_doors'. Demonstrate an example of creating an instance of the 'Car' class and accessing its attributes.

In [3]:
# write your answer here
class Vehicle:
    def __init__(self, make, model):
        self.make = make
        self.model = model

class Car(Vehicle):
    def __init__(self, make, model, num_doors):
        super().__init__(make, model)
        self.num_doors = num_doors

# Example usage
my_car = Car("Toyota", "Camry", 4)

print("Make:", my_car.make)
print("Model:", my_car.model)
print("Doors:", my_car.num_doors)

Make: Toyota
Model: Camry
Doors: 4

Question 3 ( 2 points)
Create a program that accepts a list of numbers as input and outputs a new list containing only the even numbers.

In [4]:
# write your answer here
nums = list(map(int, input("Enter numbers separated by space: ").split()))

even_nums = [n for n in nums if n % 2 == 0]

print("Even Numbers:", even_nums)

Enter numbers separated by space: 1 2 3
Even Numbers: [2]